$font-stack: oxygen;

body {
      font-family: garamond;
      background: whitesmoke;
}

.pure-g {
      padding: 20px;
      height: 100vh;
}
.pure-u-1, .pure-u-1-3, .pure-u-2-3{
  background: white;
}

ul{
  display: flex;
  justify-content: space-around;
}

.pure-u-1 {
      box-sizing: border-box;
      padding: 20px;
}

.navigatie{
  padding: 20px;
}
a{
  color: black;
  text-decoration: none;
}
a:hover, a:focus{
  color: orange;
}

h1 {
      font-size: 1.2em;
      font-weight: 900;
      font-family: $font-stack;
      padding-left: 20px;
}

h2 {
      font-size: 1.1em;
      font-weight: 900;
      margin-bottom: 25px;
}

p {
      margin-bottom: 25px;
      text-align: left;
      line-height: 1.6em;
}

ul {
      list-style-type: none;
      padding: 0;
}

.frontpage{
  margin-top: 20px;
}

.carousel{
  margin-top: 20px;
  margin-bottom: 20px;
}
.carousel-cell{
  display: block;
  width: 30vw;
  height: 30vw;
  margin: 5px;
}

#een{
    background: orange;
}
#twee{
  background: darkturquoise;
}
#drie{
  background: tomato;
}
#vier{
  background: lightgreen;
}
#vijf{
  background:dodgerblue;
}
#zes{
  background: mediumorchid;
}
@media (max-width: 48em) {
      li a {
            color: red;
      }

      li {
            display: inline;
            margin-right: 10px;
      }
}
