
  <div class="pure-u-1 frontpage">
      <h1>About me</h1>

      <p class="pure-u-1">
        Ik ben Jef Vankerckhoven!
Een 19 jarige student Grafische en Digitale Media aan de AP Hogeschool te Antwerpen. Momenteel zit ik in het 2de jaar van de porfessionele bachelor in de afstudeerrichting Crossmedia Ontwerp. <br> <br>

Ik hou ervan mezelf creatief te uiten op alle mogelijke manieren. Ik leerde zo al op jonge leeftijd cornet te bespelen en dat speel ik nu nog steeds in de Koninklijke Fanfare Onafhankelijkheid Wiekevorst. Over Wiekevorst gesproken, dit is het dorpje waar ik in opgroeide en waar ik nu nog steeds woon. Buiten mijn activiteiten bij de lokale fanfare ben ik ook nog actief bij KLJ Wiekevorst. <br> <br>

Mijn creativiteit gaat verder dan muziek, ook op het web probeer ik mijn steentje bij te dragen. Door mijn opleiding word ik steeds vaardiger in het ontwerpen van websites. HTML, CSS en Javascript krijg ik meer en meer onder de knie. Maar ook buiten webdesign leer ik steeds bij. Adobe Illustrator, Photoshop en InDesign hebben voor mij geen geheimen meer. En ook met Cinema 4d kan ik werken.
In mijn vrije tijd probeer ik nog extra kennis te vergaren voor Premiere Pro en After Effects.

      </p>
  </div>

</div>
