
  <div class="pure-u-1 frontpage">
      <h1>Contact</h1>

      <div class="pure-u-1-2">
        <p>
          Heb je een vraag, een idee of wil je gewoon eens gezellig praten over mijn werk. Of denk je dat ik iets kan beteken voor jouw project.
    Twijfel dan geen seconde om me te contacteren! <br><br>

    jef.vankerckhoven@student.ap.be <br>
    0032 473 49 63 79 <br><br>

    Ook kan je me steeds terugvinden op onderstaande social media!
        </p>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Dribbble</a></li>
          <li><a href="#">Codepen</a></li>
          <li><a href="#">Pinterest</a></li>
        </ul>
      </div>

  </div>

</div>
