  <div class="pure-u-1 frontpage">

        <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>

            <div id="een" class="carousel-cell">
              <img src="assets/images/aprilparty.png" alt="Aprilparty">
            </div>
            <div id="twee" class="carousel-cell">
              <img src="assets/images/filmconcert.png" alt="Filmconcert">
            </div>
            <div id="drie" class="carousel-cell">
              <img src="assets/images/hdb.png" alt="Het Derde Been">
            </div>
            <div id="vier" class="carousel-cell">
              <img src="assets/images/boerenfuif.png" alt="Boeren Fuif">
            </div>
            <div id="vijf" class="carousel-cell">
              <img src="assets/images/tp.jpg" alt="Thumbs Up Party 2016">
            </div>
            <div id="zes" class="carousel-cell">
              <img src="assets/images/straatjeskermis.png" alt="Straatjeskermis 2017">
            </div>
            <div id="zeven" class="carousel-cell">
              <img src="assets/images/onepixeladay.png" alt="One Pixel A Day">
            </div>

        </div>

      </div>
