  <div class="pure-u-1 frontpage">

        <div class="carousel" data-flickity='{ "wrapAround": true }'>

            <div data-id="een" id="een" class="carousel-cell">
              <img src="assets/images/aprilparty.png" alt="Aprilparty">
            </div>
            <div data-id="twee" id="twee" class="carousel-cell">
              <img src="assets/images/filmconcert.png" alt="Filmconcert">
            </div>
            <div data-id="drie" id="drie" class="carousel-cell">
              <img src="assets/images/hdb.png" alt="Het Derde Been">
            </div>
            <div data-id="vier" id="vier" class="carousel-cell">
              <img src="assets/images/boerenfuif.png" alt="Boeren Fuif">
            </div>
            <div data-id="vijf" id="vijf" class="carousel-cell">
              <img src="assets/images/tp.jpg" alt="Thumbs Up Party 2016">
            </div>
            <div data-id="zes" id="zes" class="carousel-cell">
              <img src="assets/images/straatjeskermis.png" alt="Straatjeskermis 2017">
            </div>
            <div data-id="zeven" id="zeven" class="carousel-cell">
              <img src="assets/images/onepixeladay.png" alt="One Pixel A Day">
            </div>

        </div>


      </div>
      <div name="uitleg" data-id="een" class="pure-u-1 frontpage uitleg invisible">
        <h1>Aprilparty</h1>
      </div>

      <div name="uitleg" data-id="twee" class="pure-u-1 frontpage uitleg invisible">
        <h1>Filmconcert</h1>
      </div>

      <div name="uitleg" data-id="drie" class="pure-u-1 frontpage uitleg invisible">
        <h1>Het Derde Been</h1>
      </div>

      <div name="uitleg" data-id="vier" class="pure-u-1 frontpage uitleg invisible">
        <h1>Boeren Fuif</h1>
      </div>

      <div name="uitleg" data-id="vijf" class="pure-u-1 frontpage uitleg invisible">
        <h1>Thumbs Up Party 2016</h1>
      </div>

      <div name="uitleg" data-id="zes" class="pure-u-1 frontpage uitleg invisible">
        <h1>Straatjeskermis 2017</h1>
      </div>

      <div name="uitleg" data-id="zeven" class="pure-u-1 frontpage uitleg invisible">
        <h1>One Pixel A Day</h1>
      </div>
