  <div class="pure-u-1 frontpage">

        <div class="carousel" data-flickity='{ "wrapAround": true }'>

            <div id="een" class="carousel-cell">
              <img src="images/aprilparty.png" alt="">
            </div>
            <div id="twee" class="carousel-cell">
            </div>
            <div id="drie" class="carousel-cell">
            </div>
            <div id="vier" class="carousel-cell">
            </div>
            <div id="vijf" class="carousel-cell">
            </div>
            <div id="zes" class="carousel-cell">
            </div>

        </div>

      </div>
